
body {
    font-family: 'Helvetica Neue', Helvetica, Arial;
    line-height: 20px;
    font-weight: 400;
    color: #3b3b3b;
    background-color: #cbcbcb;
    -webkit-font-smoothing: antialiased;
}
table {
    table-layout: fixed;
    width: 87%;
    margin-left: 180px;
  }
tr{
    height: 25px;
}  
td {
    overflow: auto;
    border: 1px solid black;
    padding: .5rem .5rem .5rem .5rem;
    text-align: center;
  }
  th {
    font-size: 20px;
  }
  
  .sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 180px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgba(28, 201, 224, 0.849); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    box-shadow: 0 6px 4px 4px rgba(0,0,0,0.2);
    border-radius: 1%;
    opacity: 0.85;
  }
  
  /* The navigation menu links */
.sidenav a {
    padding: 10px 8px 10px 10px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(0, 0, 0);
    display: block;
    border: 1px black;
    cursor: pointer;
    border-bottom: 0.5px solid #f1f1f1;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
        color: #f1f1f1;
        border-radius: 2.5%;
        background-color: rgb(13, 112, 151);
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        opacity: 1;
        transform: translate(-10% -5%);
  }

  .sidenav a.active{
      border: 1px solid black;
      border-radius: 2.5%;
      background-color: rgb(13, 112, 151);
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      opacity: 1;
      transform: translate(-10% -5%);

  }
  
  /* Style page content */
  .content {
    margin-left: 180px; /* Same as the width of the sidebar */
    padding: 0px 15px;
  }
  .innerDiv{
    font-size: 25px;
    margin-top: 2rem;
    font-weight: bold;
    text-align: center;
    margin-left: 180px;
  }
  .forms {
    margin-left: 180px; /* Same as the width of the sidebar */
    padding: 0px 15px;
  }
  .forms li{
    list-style: none;
    padding-top: .5rem;
  }
  .forms button{
    margin-top: .5rem;
  }
  .forms input[type='submit']{
    margin-top: .5rem;
  }
  
/* MODAL SYLE */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
  }

  .modal-message {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 7.5px;
}

.modal-buttons button {
    border: none;
    border-radius: 4%;
    color: white;
    padding: 7.5px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-bottom: 10px;
}
  
#modal-confirm {
    background-color: #008CBA;
    margin-right: 10px;
}

#modal-cancel {
    background-color: #f44336;
    margin-left: 10px;
}
.modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.modal-close:hover,
.modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* SNACK BAR */
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}
  
#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
  
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}
  
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
  
@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}
  
@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}