*{box-sizing: border-box;}
.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    font-weight: bolder;
    font-size: smaller;
    text-align: center;
  }

.backBtn {
  float: left;
  padding-bottom: 2rem;
  padding-right: 20rem;
}

.card.h-100 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.slideshow-container {
  max-width: 100%;
  position: relative;
  object-fit: cover;
  padding: 0.5rem;
  background-color: black;
  border-radius: 0.5%;

}

/* Hide the images by default */
.mySlides {
  display: none;
}
.mySlides > img{
  width: 100%;
  height: 350px;
  z-index: 0;
  object-fit: cover;
}
.mySlides button {
  position: relative;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  color: black;
  font-weight: bold;
  font-size: large;
  background-color: #ffc107;
  border: none;
  border-radius: 5%;
  display:flex;
  left: 80%;
  transform: translateY(-300%);
}
.mySlides button > i {
  margin-top: 0.25rem;
  padding-right: 0.5rem;
  padding-left: 0.25rem
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 1;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 65px;
  width: 500px;
  margin: 1px 25px;
  background-color:black;
  border-radius: 1%;
  border: 1px solid #bbb;
  color: whitesmoke;
  display: inline-block;
  text-align:center;
  padding: 0.25rem;
  transition: background-color 0.6s ease;
  opacity: 0.6;
}
.dot > h5 {
  font-size: 1.1rem;
}

.dot.active, .dot:hover {
  background-color: #717171;
  color: #ffc107;
  border-color: #ffc107;
  opacity: 1;
}
#dots {
  background: black;
  display: flex;
  transform: translateY(-125%);
}
#nowPlaySlide {
  background-color: black;
  text-align: center;
  width: 25%;
  opacity: 0.8;
  transform: translateY(100%);
}
#nowPlaySlide > h3 {
  padding: .5rem;
  color: #ffc107;
  text-decoration: underline;
  display: inline-block;
}

.sectBox {
  background-color: black;
  text-align: center;
  width: 40%;
  opacity: 0.8;
  transform: translateY(-25%);
}

.sectBox > h3 {
  padding: .5rem;
  color: #ffc107;
  text-decoration: underline;
  display: inline-block;
}

.modal {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2%;
  padding: 16px;
  position: fixed;
  z-index: 1051;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

.initBox {
  background-color: black;
  text-align: center;
  width: 40%;
  opacity: 0.8;
  margin-top: 2rem;
  margin-bottom: 2rem;
  box-shadow: 2px 2px 4px 0 rgb(0, 0, 0, 0.4);
  border-radius: 1%;
}

.initBox > h3 {
  padding: .5rem;
  color: #ffc107;
  text-decoration: underline;
  display: inline-block;
}
.initBtn {
  width: 100%;
  color: black;
  font-size: large;
  font-weight: bold;
  background-color: #ffc107;
  text-align: center;
  border: 1px solid #333;
  border-radius: 2%;
  padding: 0.45rem;
  box-shadow: 4px 4px 8px 0px rgb(0,0,0,0.4);
  font-family: sans-serif;
}