<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://kit.fontawesome.com/1b5e0ebbd7.js" crossorigin="anonymous"></script>
  <link rel="icon" href="/img/wi_logo.png" type="image/png" sizes="any">
  <link href="/css/user_dash.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous">
    </script>
  <title>Watch-it!</title>
  <style>
    a {
      text-decoration: none;
    }
  </style>
</head>

<body class='bg-secondary'>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid ms-3">
      <a id='wiLink' class="navbar-brand" href="/dashboard">
        <img src="/img/wi_brand.png" alt="Watch-it!" width="150" height="50">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-3 ms-3 fs-5">
          <li class="nav-item">
            <a id="npLink" class="nav-link" href="#">Now Playing</a>
          </li>
          <li class="nav-item">
            <a id="csLink" class="nav-link" href="#">Coming Soon</a>
          </li>
          <li class="nav-item">
            <a id="mwLink" class="nav-link" href="#">Most Watched</a>
          </li>
          <li class="nav-item dropdown">
            <a id="usLink" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">Hello, {{f_name}}</a>
            <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
              <li><a id="upLink" class="dropdown-item link-secondary" href="#">Profile</a></li>
              <li><a id='utxLink' class="dropdown-item link-secondary" href="#">Tickets</a></li>
              <li><a id='utrLink' class="dropdown-item link-secondary" href="#">Transactions</a></li>
              <li><a id='utpLink' class="dropdown-item link-secondary" href="#">Top Up</a></li>
              <li>
                <hr class="dropdown-divider link-secondary">
              </li>
              <li><a id='uloLink' class="dropdown-item link-secondary" href="#">Log out</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a id="userBalance" class="nav-link text-warning">Rp. {{balance}}</a>
          </li>
        </ul>
        <form class="d-flex me-5 justify-content-center">
          <input id="search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button id="searchBtn" class="btn btn-outline-warning" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <div class='container-fluid pt-4'>
    <div class='container'>
      <div class="slideshow-container">
        <div id="nowPlaySlide">
          <h3>Now Playing</h3>
        </div>
        <a class="prev">&#10094;</a>
        <a class="next">&#10095;</a>
      </div>
      <div id="dots">

      </div>
      <div class="container">
        <div id="content">

        </div>
      </div>
      <div id="hidden" style="display: none;">{{hidden}}</div>
      <div id="user_id" style="display: none;">{{user_id}}</div>
      <div id="f_name" style="display: none;">{{f_name}}</div>
      <div class="footer">
        <hr>
        <p>Watch-it! &copy; 2021</p>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal" id="soloModal" tabindex="-1" style="display: none;">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="soloModalLabel">Modal title</h5>
            <button id="modalClose" type="button" class="btn-close"></button>
          </div>
          <div id="modalBody" class="modal-body">
            ...
          </div>
          <div id="mdFooter" class="modal-footer">
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <!-- Confirmation Modal -->
    <div class="modal" id="confModal" tabindex="-1" style="display: none;">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="soloModalLabel">Modal title</h5>
            <button id="modalClose" type="button" class="btn-close"></button>
          </div>
          <div id="modalBody" class="modal-body">
            ...
          </div>
          <div id="mdFooter" class="modal-footer">
          </div>
        </div>
      </div>
    </div>
    <!-- Confirmation Modal -->

    <!-- Snackbar -->
    <div id="snackbar" tabindex="1"></div>
    <!-- Snackbar -->
    <script src="/js/user_dash.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"></script>
</body>

</html>